@using ADO.NET.WorkWithDB
@model List<GithubProfileModel>

@{
	ViewData["Title"] = "GithubProfileModel";
}

<h2>GithubProfileModel</h2>

<h4>GithubProfileModel</h4>

@foreach (var item in Model)
{
	<p>@item.Bio | @item.BlogOrWebsite | @item.Company | @item.Email | @item.Id | @item.ImageUrl | @item.LastUpdate | @item.Location | @item.Name | @item.StarsCount | @item.Url | @item.UserName</p>
}